$primary: #78d18d;
$primary-dark: #5fa056;
$primary-darker: #3a603a;
$secondary: #333;
$secondary-light: #8e8e8e;
$secondary-very-light: #cccccc;
$black: #000;
$red: #ff2d4f;

$primary-hover: #FFFFFF26;

$white: #ffffff;
$milky-white: #f8f9fa;
$greyish-white: #e9ecef;
$greyish-white-v2: #cbcbcb;
;
$error: #d9534f;
$error-bg: #ffc0c0;
