<app-text-card>
    <h1>Credits:</h1>
    <ul>
        <li>
            <strong>Task specification</strong><br>
            <p>Special thanks to <a href="https://szkolawchmurze.org/">Szkoła w Chmurze Sp. z o.o.</a> for providing the
                task.</p>
        </li>
        <li>
            <strong>API providers</strong><br>
            <p>Thanks to the following data providers:</p>
            <p>https://meowfacts.herokuapp.com/ - API that returns a random fact about a cat.</p>
            <p>https://api.thecatapi.com/v1/images/search - API that returns a random cat picture.</p>
            <p>https://tools.estevecastells.com/api/cats/v1 - API that returns a random cat name.</p>
        </li>
        <li>
            <strong>Graphics providers</strong><br>
            <p>Thanks to the following graphics providers:</p>
            <p><a href="htts://www.freepik.com/">Freepik</a> for the hand-drown monstera leaf outline illustration.</p>
            <p><a href="https://www.svgrepo.com/svg/307465/cat-kitty-kitten-feline">SVG repo</a> for the cat svg icon.
            </p>
        </li>
    </ul>
    <p class="missed-attributions"><em>If I have missed any credits or attributions, please feel free to suggest changes
        to this repository. I will
        review and update accordingly.</em></p>
</app-text-card>