<app-text-card>
    <h1>Principal goals:</h1>
    <ul class="unordered-list">
        <li>
            <strong>API</strong>
            <p>Use the <a href="https://meowfacts.herokuapp.com/">MeowFacts API</a> that returns a random fact about a
                cat. </p>
        </li>
        <li>
            <strong>Login screen</strong>
            <p>The application should include a login screen (a mock login is acceptable).</p>
        </li>
        <li>
            <strong>Random facts screen</strong>
            <p>A screen accessible only to logged-in users, displaying cards with random cat facts.</p>
        </li>
        <li>
            <strong>Infinite scrolling</strong>
            <p>The random facts screen should support infinite scrolling, loading additional facts as the user
                scrolls.</p>
        </li>
        <li>
            <strong>Duplicates</strong>
            <p>Since the API does not provide unique IDs for facts, implement string comparison to prevent
                duplicates.</p>
        </li>
    </ul>
</app-text-card>
